.navbar {
    position: absolute;
    width: 100%;
}

.container__wrapper {
    display: flex;
    height: 80px;
}

.navbar__container {
    width: 100%;
    display: flex;
}

.right-item__item-title {
    position: relative;
    color: #fff !important;
}

.right-item__item-title-green {
    position: relative;
    color: #00a046 !important;
}

li.uk-active a:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 5px;
    background-color: #00a046;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.padding-custom {
    padding: 0px 10px 0px 10px;
}

.divider {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.li-navbar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 0.875rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    text-transform: uppercase;
}

.no-underline {
    text-decoration: none !important;
}